
.ui-autocomplete-loading {
    background: rgb(247, 245, 245) url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  .ui-menu-item-wrapper li{
    display:none;
  }
  .ui-menu-item-wrapper{
    display: none;
  }
  